
<VirtualHost *:443>

  ServerName {{ secure.httpd.ServerName }}

  ServerAdmin {{ secure.httpd.ServerAdmin }}
  UseCanonicalName Off

  SSLEngine on
  SSLProtocol all -SSLv2 -SSLv3
  SSLCipherSuite HIGH:MEDIUM:!aNULL:!MD5:!SEED:!IDEA
  SSLCertificateFile  {{ secure.httpd.SSLCertificateFile }}
  SSLCertificateKeyFile  {{ secure.httpd.SSLCertificateKeyFile }}

  ErrorLog logs/mpass_ssl_error_log
  TransferLog logs/mpass_ssl_access_log
  LogLevel warn

  RequestHeader unset X-Forwarded-Protocol
  RequestHeader set X-Forwarded-Protocol ssl env=HTTPS
  RequestHeader set X-Forwarded-Proto https env=HTTPS

  ProxyPass /robots.txt !
  Redirect 404 /robots.txt
  <Location /robots.txt>
    ErrorDocument 404 "robots.txt does not exist"
  </Location>

  Alias /static/ "{{ secure.app_root }}/mpass-data/staticroot/"
  <Directory "{{ secure.app_root }}/mpass-data/staticroot/">
    Header set Access-Control-Allow-Origin "*"
    ExpiresActive On
    ExpiresDefault "access plus 1 year"
    AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript
    Options FollowSymLinks
    AllowOverride None
    Require all granted
  </Directory>

  ProxyPass /static/ !

  ProxyPass / http://127.0.0.1:8001/
  ProxyPassReverse / http://127.0.0.1:8001/

</VirtualHost>                                  

